<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field appearance="fill">
      <mat-label>Roll Number</mat-label>
      <mat-select>
        <mat-option value="food">food</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field appearance="fill">
      <mat-label>Section</mat-label>
      <mat-select>
        <mat-option *ngFor="let section of getClass()" [value]="section">{{section}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field appearance="fill">
      <mat-label>Food Preference</mat-label>
      <mat-select>
        <mat-option value="food">food</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
