<mat-card class="mat-elevation-z8">
  <mat-card-title>Let's go!</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Roll Number</mat-label>
        <input matInput placeholder="12" formControlName="roll">
        <!-- <ng-container [ngSwitch]=""></ng-container> -->
        <mat-error *ngIf="form.controls.roll.hasError('required')">This field is required</mat-error>
        <mat-error *ngIf="form.controls.roll.hasError('invalidMax')">Value should be lower or equal to {{getRegCount()}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Section</mat-label>
        <mat-select formControlName="section">
          <mat-option *ngFor="let section of getMasterData(typeEnum.section)"
            [value]="getValue(typeEnum.section, section)">{{getValue(typeEnum.section, section)}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.section.errors">This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Food Preference</mat-label>
        <mat-select formControlName="food">
          <mat-option *ngFor="let food of getMasterData(typeEnum.food)" [value]="getValue(typeEnum.food, food)">
            {{getValue(typeEnum.food, food)}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.food.errors">This field is required</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="!form.controls.roll.enabled" mat-button color="primary" (click)="add()">ADD STUDENT</button>
  </mat-card-actions>
</mat-card>
