<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <form [formGroup]="form">
      <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field appearance="fill">
            <mat-label>Roll Number</mat-label>
            <mat-select formControlName="roll">
              <mat-option *ngFor="let item of getRollNumber()" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field appearance="fill">
            <mat-label>Section</mat-label>
            <mat-select formControlName="section">
              <mat-option *ngFor="let section of getMasterData(typeEnum.section)"
                [value]="getValue(typeEnum.section, section)">{{getValue(typeEnum.section, section)}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field appearance="fill">
            <mat-label>Food Preference</mat-label>
            <mat-select formControlName="food">
              <mat-option *ngFor="let food of getMasterData(typeEnum.food)" [value]="getValue(typeEnum.food, food)">
                {{getValue(typeEnum.food, food)}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1">
          <button mat-raised-button color="primary" (click)="add()">Add!</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>
