<mat-card class="mat-elevation-z8">
  <mat-card-title>Registration</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Enter number of students</mat-label>
      <input matInput placeholder="12" [formControl]="control">
      <mat-error *ngIf="control.errors">This field is required</mat-error>
    </mat-form-field>
    <p><span>{{perHostelValue > 99 ? '99+' : perHostelValue}}</span> Student in each hostel</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="operation('confirm')">CONFIRM</button>
    <button mat-button color="warn" (click)="operation('reset')">RESET</button>
  </mat-card-actions>
</mat-card>
