form {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  div {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @media screen and (max-width: "950px") {
      flex-direction: column;
    }
  }
}

.item {
  width: 100%;
}
